*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Montserrat;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/static/Montserrat-Light.ttf);
}

body {
  min-height: 100vh;
  background-color: #d8d4d4;
}

/* Styles for the loading screen */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0%;
  left: 0%;
  background-color: #fff;
}
/* Spinner animation */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px double #A55C3A;
  border-top: 5px solid #008B8B;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Keyframe for the spinner animation */
@keyframes spin {
  0% {transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}

/* Once the content is ready, show it */
#content {
  display: block;
}


/* NAVIGATION CONTAINER */
nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding: 5px 70px;
  gap: 30px;
  background-color: #166363;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 1px;
}
.logo > a {
  text-decoration: none;
  font-weight: bold;
}
.logo > a > img {
  width: 120px;
  height: 70px;
}
.logo > a > h4 {
  /* width: 110px; */
  font-size: 9px;
  color: #143b8f;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #fff;
}
/* Search box styling */
.search-form {
  display: flex;
  align-items: center;
  transform: translateX(-20px);
}

.search-box {
  width: 400px;
  height: 25px;
  padding: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 0px 0 0 8px;
  /* transform: skew(-20deg); */
  background-color: white;
}

.search-btn {
  width: 100px;
  height: 35px;
  padding: 9px 0px;
  background-color: #a55c3a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 0px 8px 0px 0px;
  cursor: pointer;
  /* transform: skew(-20deg); */
  position: relative;
  left: -10px;
}


.search-btn:hover {
  background-color: #ffff;
  color: #a55c3a;
}

.navbar > ul:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.navbar > ul:nth-child(1) > li > a {
  width: 100%;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.navbar > ul:nth-child(2) {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: #fff;
  gap: 0px;
  border-radius: 0px 7px 0px 7px;
}

ul:nth-child(2) > li > a {
  color: #a55c3a;
  font-size: 14px;
  padding: 10px 4px;
  font-weight: 700;
  text-decoration: none;
}
ul:nth-child(2) > li:nth-child(2) > a {
  color: white;
  font-size: 14px;
  padding: 9px 4px;
  text-decoration: none;
  background-color: #a55c3a;
  border-radius: 0  7px 0 7px;
  /* box-shadow: 2px 2px 1px 1px #585353; */
}


.dropdown-blogs {
  float: left;
  overflow: hidden;
  transform: translateX(25px);
}

.dropdown-blogs > .dropbtn {
  width: 100px;
  font-size: 17px;
  border: none;
  outline: none;
  /* background-color: inherit; */
  margin: 0%;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  z-index: 999;
}

.dropdown-content > a{
  float: none;
  display: block;
  padding: 10px;
  color: #008B8B;
  text-align: left;
}

.dropdown-content > a:hover {
  background-color: #008B8B;
  color: #fff;
}

.dropdown-blogs:hover > .dropdown-content {
  display: block;
}

.clock {
  width: 300px;
  /* box-shadow: 1px 1px 0px 1px gray; */
  align-items: flex-end;
  justify-content: flex-end;
  font-size:17px;
}

.clock > ul {
  display: flex;
  list-style: none;
  gap: 5px;
  padding-left: 10px;
}

.clock > ul > li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}

.handburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.handburger > .bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width:650px) {
  nav {
      width: 100%;
      height: 60px;
      padding: 5px;
      border-bottom: 0.5px solid #5e5b5b;
      position: fixed;
      z-index: 100;
  }

  nav > .logo {
    width: 20%;
      margin: 0%;
      height: 70px;
  }

  .logo > a > img {
      width: 90px;
      height: 70px;
  }
  .logo > a > h4 {
    display: none;
  }

  .navbar {
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      padding: 5px;
      gap: 10px;
      top: 50px;
      left: -100%;
      transition: 0.5s ease-in-out;
      background-color: white;
  }

  .navbar > ul:nth-child(1) {
      flex-direction: column;
      margin-left: 0%;
      gap: 30px;
  }
  
  .navbar > ul:nth-child(1) > li > a { 
      font-size: 1rem;
      color: black;
  }

  .navbar > ul:nth-child(2) {
      flex-direction: column;
      margin-left: 0%;
      gap: 30px;
  }


  .navbar > ul:nth-child(2) > li > a { 
      font-size: 1rem;
      color: black;
  }

  .navbar.active {
      left: 0%;
  }

  .search-box {
    display: none;
  }
  .search-btn{
    display: none;
  } 
  
  .clock {
    width: 80px;
    box-shadow: none;
  }

  .handburger {
      display: block;
  }

  .handburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(-45deg);
  }
  .handburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .handburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(45deg);
  }
}

@media screen and (max-width:768px) {
  nav {
      width: 100%;
      height: 60px;
      padding: 10px;
      border-bottom: 0.5px solid #5e5b5b;
  }

  nav > .logo {
    width: 20%;
      margin: 0%;
      height: 70px;
  }
  
  .logo > a > img {
    width: 80px;
    height: 60px;
    justify-content: flex-start;
  }
  .logo > a > h4 {
  display: none;
  }

  .navbar {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      padding: 5px;
      gap: 5px;
      top: 10px;
      left: -100%;
      transition: 0.5s ease-in-out;
      background-color: white;
  }

  .navbar > ul:nth-child(1) {
      flex-direction: column;
      margin-left: 0%;
      gap: 10px;
  }
  
  .navbar > ul:nth-child(1) > li > a { 
      font-size: 1rem;
      color: black;
  }

  .navbar > ul:nth-child(2) {
      flex-direction: column;
      margin-left: 0%;
      gap: 30px;
  }


  .navbar > ul:nth-child(2) > li > a { 
      font-size: 1rem;
      color: black;
  }

  .navbar.active {
      left: 0%;
  }

  .search-box {
    display: none;
  }
  .search-btn{
  display: none;
  }

  .dropdown-blogs {
    display: none;
    float: left;
    overflow: hidden;
  }
  
  .dropdown-blogs > .dropbtn {
    width: 100px;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    padding: 10px;
    margin: 0%;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: block;
    position: static;
    background-color: #f9f9f9;
    z-index: 1;
  }
  
  .dropdown-content > a{
    display: flex;
    padding: 10px;
    color: black;
    text-align: left;
  }
    
  .clock {
    width: 90px;
    box-shadow: none;
  }

  .handburger {
      display: block;
  }

  .handburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(-45deg);
  }
  .handburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .handburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(45deg);
  }
}


section > #home {
  width: 100%;
  /* max-height: 70%; */
  padding: 10px 100px;
}

.slide-container {
  width: 100%;
  /* height: 90vh; */
  /* margin: auto; */
}

.myslide {
  display: none;
}

.myslide > img {
  vertical-align: middle;
  width: 100%;
  height: 70%;
  object-fit: cover;
  position: relative;
}

@media screen and (max-width:650px) {
  section > #home {
    width: 550px;
    height: fit-content;
  }
  .slide-container {
    width: 100%;
    height: fit-content;
    position: unset;
  }
  .myslide > img {
    width: 100%;
    vertical-align: none;
  }
}

@media screen and (max-width:768px) {
  section > #home {
    width: 100%;
    height: fit-content;
  }
  .slide-container {
    width: 100%;
    height: fit-content;
    position: unset;
  }
  .myslide > img {
    width: 100%;
    vertical-align: none;
  }
}

.welcome-speech {
  width: 100%;
  padding: 50px 100px;
  /* position: absolute; */
  text-align: flex;
  top: 20%;
  gap: 20px;
}
.welcome-speech > h1{
  margin-bottom: 15px;
  font-weight:bolder;
  font-size: 40px;
}
.welcome-speech > h4 {
  margin-bottom: 15px;
  font-weight:bold;
  font-size: 30px;
}

.welcome-speech > p {
  font-size: 20px;
  line-height: 2rem;
  color: #000;
} 

@media screen and (max-width:650px) {
  .welcome-speech {
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
    top: 2%;
    padding-right: 0%;
    gap: 10px;
    margin:  0;
    /* position: unset; */
  }
  .welcome-speech > h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
  }
  .welcome-speech > h4 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  }
  .welcome-speech > p {
    font-size: 15px;
    line-height: 1.5rem;
    padding: 10px;
  }
}
@media screen and (max-width:768px) {
  .welcome-speech {
    width: 100%;
    padding: 10px 0px;
    top: 2%;
    padding-right: 0%;
    gap: 10px;
    margin: 0px;
    height: fit-content;
    /* position: unset; */
  }
  .welcome-speech > h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
  }
  .welcome-speech > h4 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  }
  .welcome-speech > p {
    font-size: 15px;
    line-height: 1.5rem;
    padding: 10px;
    color: black;
  }
}

.proper-speech {
width: 100%;
margin-top: 20px;
padding: 0px 100px;
text-align: flex;
top: 20%;
gap: 20px;
line-height: 2rem;
}
.proper-speech > h1{
margin-bottom: 15px;
font-weight:bolder;
font-size: 40px;
}
.proper-speech > h4 {
margin-bottom: 15px;
font-weight:bold;
font-size: 30px;
}

.proper-speech > p {
font-size: 20px;
line-height: 2rem;
color: #000;
} 
@media screen and (max-width:650px) {
  .proper-speech {
    width: 100%;
    padding: 10px 0px;
    top: 2%;
    padding-right: 0%;
    gap: 10px;
    margin: 0px;
    position: unset;
  }
  .proper-speech > h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
  }
  .proper-speech > h4 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  }
  .proper-speech > p {
    font-size: 15px;
    line-height: 1.5rem;
    padding: 10px;
    color: black;
  }
}
@media screen and (max-width:768px) {
  .proper-speech {
    width: 100%;
    padding: 10px 0px;
    top: 2%;
    padding-right: 0%;
    gap: 10px;
    margin: 0px;
    position: unset;
  }
  .proper-speech > h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
  }
  .proper-speech > h4 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  }
  .proper-speech > p {
    font-size: 15px;
    line-height: 1.5rem;
    padding: 10px;
    color: black;
  }
}

.driving-force {
  width: 100%;
  padding: 50px 100px;
  text-align: flex;
  top: 20%;
  gap: 20px;
}
.driving-force > h1{
  margin-bottom: 15px;
  font-weight:bolder;
  font-size: 40px;
}
.driving-force > h4 {
  margin-bottom: 15px;
  font-weight:bold;
  font-size: 30px;
}

.driving-force > p {
  font-size: 20px;
  line-height: 2rem;
  color: #000;
} 

@media screen and (max-width:650px) {
  .driving-force {
    width: 100%;
    padding: 10px 0px;
    top: 2%;
    padding-right: 0%;
    gap: 10px;
    margin: 0px;
    position: unset;
  }
  .driving-force > h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
  }
  .driving-force > h4 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  }
  .driving-force > p {
    font-size: 15px;
    line-height: 1.5rem;
    padding: 10px;
    color: black;
  }
}
@media screen and (max-width:768px) {
  .driving-force {
    width: 100%;
    padding: 10px 0px;
    top: 2%;
    padding-right: 0%;
    gap: 10px;
    margin: 0px;
    position: unset;
  }
  .driving-force > h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
  }
  .driving-force > h4 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  }
  .driving-force > p {
    font-size: 15px;
    line-height: 1.5rem;
    padding: 10px;
    color: black;
  }
}

.prev, .next {
  cursor: pointer;
  margin-top: -22px;
  top: 50%;
  position: absolute;
  padding: 15px;
  font-weight: bold;
  color: #f9f9f9;
  font-size: 35px;
  user-select: none;
  transition: 0.6s ease;
  /* display: none; */
}


.next {
  right: 0%;
}

.next:hover, .prev:hover {
  background-color: #585353;
  display: block;
}

/* .dot {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #687908;
  transition: background-color 0.6s ease;
} */
/* 
.active > .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

@media screen and (max-width:650px) {
  .dot{
    display: none;
  }
  .next:hover, .prev:hover {
    background-color: transparent;
  }
}
@media screen and (max-width:768px) {
  .dot{
    display: none;
  }
  .next:hover, .prev:hover {
    background-color: transparent;
  }
}


.handle-beside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  z-index: top;
  left: -94%;
  top: 70%;
}

.handle-beside > a{
  transform: translateX(-70px);
  gap: 10px;
  font-size: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #A55C3A;
  background-color: #fff;
  padding: 5px;
  transition: all 1.0s ease-in-out;
}

.handle-beside > a > i {
  font-size: 17px;
}


.handle-beside > a:nth-child(1):hover {
  transform: translateX(0px);
  transition: all 1.3s ease-in-out;
  border-bottom: 2px solid #007bff;
}

.handle-beside > a:nth-child(2):hover {
  transform: translateX(0px);
  transition: all 1.3s ease-in-out;
  border-bottom: 2px solid #143b8f;
}

.handle-beside > a:nth-child(3):hover {
  transform: translateX(0px);
  transition: all 1.3s ease-in-out;
  border-bottom: 2px solid #ff006a;
}

.handle-beside > a:nth-child(4):hover {
  transform: translateX(0px);
  transition: all 1.3s ease-in-out;
  border-bottom: 2px solid #04f704;
}

@media screen and (max-width:650px) {
  .handle-beside {
    display: none;
  }
}
@media screen and (max-width:768px) {
  .handle-beside {
    display: none;
  }
}


/* Comment/message 2 box styling using an icon */

/* .messagebox {
  width: 10%;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
  top: 65%;
  left: 2%;
  transform: translateX(2%);
}

.hidden {
  display: none;
}

@media screen and (max-width:650px) {
   .messagebox {
    display: none;
  }
}
@media screen and (max-width:768px) {
  .messagebox {
    position: fixed;
    top: 20%;
    transform: translateX(1%);
  }
}

.btn {
  width: 35px;
  height: 35px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 50;
  margin: -10px;
}

.btn > i {
  font-size: 16px;
}

@media screen and (max-width:650px) {
  .btn {
    width: 25px;
    height: 25px;
    background-color: #f0530b;
    color: white;
  }
  .btn > i {
    font-size: 12px;
  }
}
@media screen and (max-width:768px) {
  .btn {
    width: 30px;
    height: 30px;
    background-color: #f0530b;
    color: white;
  }
  .btn > i {
    font-size: 14px;
  }
} */


/* #commentBox {
  width: 350px;
  gap: 10px;
  margin-left: 30px;
  background-image: url(https://i.ibb.co/mC6qqx7/2-removebg-preview.png);
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
}

#commentBox > label {
  font-size: 14px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 7px;
  transform: skew(-15deg);
}

@media screen and (max-width:650px) {
  #commentBox {
  }
} */

/* #commentBox > input {
  width: 320px;
  height: 30px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 7px;
  transform: skew(-15deg);
}
#commentBox > textarea {
  width: 320px;
  height: 50px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 7px;
  transform: skew(-15deg);
}

#commentBox > .submit {
  width: 320px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  transform: skew(-15deg);
  cursor: pointer;
} */


.mother-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 100px;
  gap: 20px;
}

.scroll-up {
  width: 10px;
  position: sticky;
  z-index: 100;
  top: 80%;
  margin-left: 96%;
  font-size: 30px;
  color: #A55C3A;
}

@media screen and (max-width:650px) {
  .mother-container {
    width: 100%;
    background-image: none;
    padding: 10px;
    gap: 10px;
  }
  .scroll-up {
    font-size: 25px;
    margin-left: 87%;
    z-index: 100;
  }
}
@media screen and (max-width:768px) {
  .mother-container {
    width: 100%;
    background-image: none;
    padding: 0px;
    gap: 10px;
  }
  .scroll-up {
    z-index: 100;
    margin-left: 87%;
  }
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width:650px) {
  section {
    width: 100%;
    margin: 0%;
    gap: 10px;
  }
}
@media screen and (max-width:768px) {
  section {
    width: 100%;
    margin: 0%;
    gap: 10px;
  }
}

#about {
  width: 100%;
  /* background: #dce4e4; */
  /* backdrop-filter:blur(100%); */
  display: flex;
  margin-top: 20px;
  opacity: 0.9;
  flex-direction: column;
}


#about > .image-speech {
  width: 100%;
  /* height: 200px; */
  display: flex;
  align-items: flex-start;
  /* gap: 20px; */
}

#about > .image-speech > img {
  width: 500px;
  height: 360px;
  object-fit: cover;
}

.pro-speech, .pro-speech2 {
  width: 100%;
  display: flex;
  line-height: 2rem;
  flex-direction: column;
}

.pro-speech > h1 {
  font-size: 27px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.pro-speech > p {
  padding: 0 20px;
  font-size: 17px;
  line-height: 2rem;
}
.pro-speech2 > p {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 2rem;
  font-size: 17px;
}

@media screen and (max-width:650px) {
  #about {
    width: 100%;  
    margin-top: 100px;
    flex-direction: column;
    margin-top: 100px;
  }
  #about > .image-speech {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
  
  #about > .image-speech > img {
    width: 100%;
  }
  
  .pro-speech > h1 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
  }
  .pro-speech > p {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5rem;
  }
  .pro-speech2 > p {
    line-height: 1.5rem;
    padding: 0 20px;
    font-size: 16px;
  }
}
@media screen and (max-width:768px) {
  #about {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    margin-top: 10px;
  }
  #about > .image-speech {
    width: 100%;
    flex-direction: column;
  }

  #about > .image-speech > img {
    width: 100%;
  }
  
  .pro-speech > h1 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
  }
  .pro-speech > p {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5rem;
  }
  .pro-speech2 > p {
    line-height: 1.5rem;
    font-size: 16px;
  }
}


.ours-nahadah {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
  padding: 10px;
}

.ours-nahadah > .nahadah-school {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.nahadah-school > h2 {
  font-size: 3rem;
}
.nahadah-school > p {
  font-size: 1.3rem;
  color: #008B8B;
}

@media screen and (max-width:650px) {
  .ours-nahadah {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }
  .ours-nahadah > .nahadah-school {
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
  }
  .nahadah-school > h2 {
    font-size: 1.5rem;
  }
  .nahadah-school > p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width:768px) {
  .ours-nahadah {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }
  .ours-nahadah > .nahadah-school {
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
  }
  .nahadah-school > h2 {
    font-size: 1.5rem;
  }
  .nahadah-school > p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.ours {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 30px;
  /* padding: 20px; */
}

.ours > .our-vision {
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.our-vision > .text {
  width: 400px;
  line-height: 1.7rem;
}

.our-vision > .image {
  width: 200px;
  height: 200px;
  background-image: url("https://i.ibb.co/4f0Nj9r/teacher.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.our-vision > .image:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 2px 3px gray;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:650px) {
  .ours {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  .ours > .our-vision {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .our-vision > .text {
    width: 100%;
    line-height: 1.5rem;
  }
  .our-vision > .image {
    width: 90%;
    height: 200px;
  }
}
@media screen and (max-width:768px) {
  .ours {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  .ours > .our-vision {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .our-vision > .text {
    width: 100%;
    line-height: 1.5rem;
  }
  .our-vision > .image {
    width: 90%;
    height: 200px;
  }
}


.ours > .our-mission {
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.our-mission > .text {
  width: 400px;
  line-height: 1.7rem;
  gap: 10px;
}


.our-mission > .image {
  width: 200px;
  height: 200px;
  background-image: url("https://i.ibb.co/jGrbKsn/high-school-students-running-uniform.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.our-mission > .image:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 2px 3px gray;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:650px) {
  .ours > .our-mission {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .our-mission > .text {
    width: 100%;
    line-height: 1.5rem;
  }
  .our-mission > .image {
    width: 90%;
    height: 200px;
  }
}
@media screen and (max-width:768px) {
  .ours > .our-mission {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .our-mission > .text {
    width: 100%;
    line-height: 1.5rem;
  }
  .our-mission > .image {
    width: 90%;
    height: 200px;
  }
}


.ours > .our-aim {
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  /* padding: 10px; */
}


.our-aim > .text {
  width: 400px;
  line-height: 1.7rem;
}

.our-aim > .image {
  width: 200px;
  height: 200px;
  background-image: url("https://i.ibb.co/34ngQs6/sport-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.our-aim > .image:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 2px 3px gray;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:650px) {
  .ours > .our-aim {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .our-aim > .text {
    width: 100%;
    line-height: 1.5rem;
  }
  .our-aim > .image {
    width: 90%;
    height: 200px;
  }
}
@media screen and (max-width:768px) {
  .ours > .our-aim {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .our-aim > .text {
    width: 100%;
    line-height: 1.5rem;
  }
  .our-aim > .image {
    width: 90%;
    height: 200px;
  }
}


.ours > .our-driving {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: #fff; */
  gap: 10px;
  /* padding: 10px; */
}

.our-driving > .text {
  width: 400px;
  line-height: 1.8rem;
}

.our-driving > .image {
  width: 200px;
  height: 200px;
  background-image: url("https://i.ibb.co/XZVntyg/students-3.webp, https://i.ibb.co/XZVntyg/students-3.webp, https://i.ibb.co/XZVntyg/students-3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.our-driving > .image:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 2px 3px gray;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:650px) {
  .ours > .our-driving {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .our-driving > .text {
    width: 100%;
    line-height: 1.5rem;
  }
  .our-driving > .image {
    width: 90%;
    height: 200px;
  }
}
@media screen and (max-width:768px) {
  .ours > .our-driving {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .our-driving > .text {
    width: 100%;
    line-height: 1.5rem;
  }
  .our-driving > .image {
    width: 90%;
    height: 200px;
  }
}

.more {
  display: none;
}

button {
  /* width: 90px; */
  background-color: transparent;
  display: flex;
  text-align: center;
  font-size: 15px;
  color: #A55C3A;
  margin-top: 5px;
  border: none;
  /* padding: 0px 12px; */
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.text > button:hover {
  color: #d61111;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width:650px) {
  button {
    width: 70px;
    font-size: 8px;
    padding: 8px;
  }
}

@media screen and (max-width:768px) {
  button {
    width: 70px;
    font-size: 8px;
    padding: 8px;
    margin-bottom: 5px;
  }
}


#blogs {
  width: 100%;
  display: flex;
  margin-top: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blogs > .why-choosing-us {
  width: 100%;
  gap: 20px;
  line-height: 2rem;
}

.why-choosing-us > h2 {
  font-size: 25px;
  margin: 20px 0;
}
.why-choosing-us > p {
  margin: 10px 0;
  font-weight: normal;
  font-size: 17px;

}
.why-choosing-us > img {
  width: 100%;
  height: 700px;
  margin: 20px 0;
}

@media screen and (max-width:650px) {
  #blogs {
    width: 100%;
    margin: 0%;
  }
  
  #blogs > .why-choosing-us {
    width: 100%;
    gap: 10px;
    line-height: 1.5rem;
  }
  
  .why-choosing-us > h2 {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
  }
  .why-choosing-us > p {
    margin: 0;
    padding: 10px;
    font-size: 15px;
  
  }
  .why-choosing-us > img {
    width: 300px;
    height: 200px;
    margin: 0;
  }
}
@media screen and (max-width:768px) {
  #blogs {
    width: 100%;
    margin: 0%;
  }
  
  #blogs > .why-choosing-us {
    width: 100%;
    gap: 10px;
    line-height: 1.5rem;
  }
  
  .why-choosing-us > h2 {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
  }
  .why-choosing-us > p {
    margin: 0;
    padding: 10px;
    font-size: 15px;
  
  }
  .why-choosing-us > img {
    width: 100%;
    height: 200px;
    margin: 0;
  }
}



#faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faq > .why-your-child {
  width: 100%;
  gap: 20px;
  line-height: 2rem;
}

.why-your-child > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
}

.why-your-child > h2 {
  color: #143b8f;
  font-size: 19px;
  margin-top: 20px;
}
.why-your-child > p {
  font-size: 18px;
  font-weight: normal;
}

.why-your-child > img {
  width: 70%;
  height: 600px;
  margin-left: 190px;
  margin-top: 20px;
}

@media screen and (max-width:650px) {
  #faq {
    width: 100%;
    margin: 0%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  #faq > .why-your-child {
    width: 100%;
    gap: 10px;
    line-height: 1.5rem;
  }
  
  .why-your-child > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  .why-your-child > h2 {
    color: #143b8f;
    font-size: 16px;
    margin-top: 30px;
  }
  .why-your-child > p {
    font-size: 15px;
    font-weight: normal;
  }
  
  .why-your-child > img {
    width: 100%;
    height: 200px;
    margin-left: 0px;
    margin-top: 20px;
  }  
}
@media screen and (max-width:768px) {
  #faq {
    width: 100%;
    margin: 0%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  #faq > .why-your-child {
    width: 100%;
    gap: 10px;
    line-height: 1.5rem;
  }
  
  .why-your-child > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  .why-your-child > h2 {
    color: #143b8f;
    font-size: 16px;
    margin-top: 30px;
  }
  .why-your-child > p {
    font-size: 15px;
    font-weight: normal;
  }
  
  .why-your-child > img {
    width: 100%;
    height: 200px;
    margin-left: 0px;
    margin-top: 20px;
  }  
}


#contacts {
  width: 100%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 20px 1px;
  margin-top: 50px;
  background-color: #e4e0e0;
  box-shadow:1px 1px 1px 1px #c2bec4;
}

#contacts > h1 {
  font-size: 25px;
}

#contacts > .address {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
}

.address > .lonuma {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

@media screen and (max-width:650px) {
  #contacts {
    width: 100%;
    flex-direction: column;
    padding: 10px 0px;
  }
  #contacts > h1 {
    font-size: 17px;
  }
  #contacts > .address {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width:768px) {
  #contacts {
    width: 100%;
    flex-direction: column;
    padding: 10px 0px;
  }
  #contacts > h1 {
    font-size: 25px;
  }

  #contacts > .address {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}

.lonuma > .location {
  width: 50%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.7rem;
}
.lonuma > .location > h3 {
  font-size: 25px;
  color: #302e2e;
}
.lonuma > .location > a {
  gap: 10px;
  display: flex;
  color: #008B8B;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
}
.location > a > i {
  font-size: 30px;
}

@media screen and (max-width:650px) {
  .lonuma > .location {
    width: 100%;
    line-height: 1.5rem;
  }
  .lonuma > .location > h3 {
    font-size: 20px;
  }
  .lonuma > .location > a {
    font-size: 13px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width:768px) {
  .lonuma > .location {
    width: 100%;
    line-height: 1.5rem;
  }
  .lonuma > .location > h3 {
    font-size: 20px;
  }
  .lonuma > .location > a {
    font-size: 13px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

.lonuma > .number {
  width: 40%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.7rem;
}
.lonuma > .number > h3 {
  font-size: 25px;
  color: #302e2e;
}
.lonuma > .number > a {
  gap: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #008B8B;
}
@media screen and (max-width:650px) {
  .lonuma > .number {
    width: 100%;
    line-height: 1.5rem;
  }
  .lonuma > .number > h3 {
    font-size: 20px;
  }
  .lonuma > .number > a {
    font-size: 10px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width:768px) {
  .lonuma > .number {
    width: 100%;
    line-height: 1.5rem;
  }
  .lonuma > .number > h3 {
    font-size: 20px;
  }
  .lonuma > .number > a {
    font-size: 10px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

.lonuma > .mail {
  width: 40%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.7rem;
}
.lonuma > .mail > h3 {
  font-size: 25px;
  color: #302e2e;
}
.lonuma > .mail > a {
  gap: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #008B8B;
}

@media screen and (max-width:650px) {
  .lonuma > .mail {
    width: 100%;
    line-height: 1.5rem;
  }
  .lonuma > .mail > h3 {
    font-size: 20px;
  }
  .lonuma > .mail > a {
    font-size: 10px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width:768px) {
  .lonuma > .mail {
    width: 100%;
    line-height: 1.5rem;
  }
  .lonuma > .mail > h3 {
    font-size: 20px;
  }
  .lonuma > .mail > a {
    font-size: 10px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}

#map {
  width: 100%;
  height: 600px;
  border:5px solid gray;
  display: flex;
}
#map > iframe {
  width: 100%;
   height: 600px; 
}

@media screen and (max-width:650px) {
  #map {
    width: 100%;
    height: 250px;
    border: none;
  }
  #map > iframe {
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width:768px) {
  #map {
    width: 100%;
    height: 250px;
    border: none;
  }
  #map > iframe {
    width: 100%;
    height: 250px;
  }
}

#login {
  width: 100%;
  height: 500px;
  display: flex;
  background-color: #e4e0e0;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0.8;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#login > form {
  width: 450px;
  padding: 20px;
  background-color: #c9c1c1;
  margin-top: 20px;
}

#login > form > h4 {
  font-size: 30px;
  color: #166363;
}

#login > form > label {
  font-size: 17px;
  display: flex;
}
#login > form > input {
  font-size: 15px;
  display: flex;
  outline: none;
  border: none;
  transform: skew(-15deg);
}
#login > form > button {
  width: 100px;
  font-size: 15px;
  display: flex;
  background-color: #166363;
  transform: skew(-15deg);
}

#login > form > a {
  color: #A55C3A;
  font-size: 15px;
}

@media screen and (max-width:650px) {
  #login {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  
  #login > form {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
  }
  
  #login > form > h4 {
    font-size: 20px;
  }
  
  #login > form > label {
    font-size: 15px;
  }
  #login > form > input {
    font-size: 14px;
    display: flex;
  }
  #login > form > button {
    width: 100px;
    font-size: 14px;
  }
  
  #login > form > a {
    font-size: 11px;
  }
}

#signup {
  width: 100%;
  display: flex;
  background-color: #e4e0e0;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  opacity: 0.8;
  padding: 10px;
}

@media screen and (max-width:650px) {
  #signup {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding: 10px;
  }
}
@media screen and (max-width:768px) {
  #signup {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding: 10px;
  }
}


#signup > form {
  width: 450px;
  padding: 20px;
  background-color: #c9c1c1;
}

form > h3 {
  font-size: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

form > label {
  all: unset;
  font-size: 15px;
  font-weight: 600;
  margin-left: -5px;
  margin-top: 10px;
}


form > input {
  all: unset;
  width: 400px;
  height: 35px;
  padding-left: 10px;
  margin-top: 7px;
  background-color: #fff;
  border-radius: 7px;
}
form > select {
  all: unset;
  width: 400px;
  height: 35px;
  padding-left: 10px;
  margin-top: 7px;
  background-color: #fff;
  border-radius: 7px;
  align-items: center;
}

form > button {
  width: 410px;
  height: 35px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 7px;
  border: none;
  border-radius: 7px;
  background: #166363;
  color: #fff;
  cursor: pointer;
}

.error {
  font-size: 12px;
  color: red;
  padding-bottom: 10px;
}

#successMsg {
  margin-top: 7px;
  color: #04f704;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
@media screen and (max-width:650px) {
  #signup > form {
    width: 100%;
    padding: 10px 15px;
  }
  form > h3 {
    font-size: 20px;
  }
  form > label {
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
  }
  form > input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
    font-size: 10px;
  }
  form > select {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
  }
  form > button {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
  }
  .error {
    font-size: 8px;
    color: red;
    padding-bottom: 1px;
  }
  #successMsg {
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
  }
}
@media screen and (max-width:768px) {
  #signup > form {
    width: 100%;
    padding: 10px 15px;
  }
  form > h3 {
    font-size: 20px;
  }
  form > label {
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
  }
  form > input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
    font-size: 10px;
  }
  form > select {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
  }
  form > button {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
  }
  .error {
    font-size: 8px;
    color: red;
    padding-bottom: 1px;
  }
  #successMsg {
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
  }
}



.footer-card {
  width: 100%;
  background-color: #166363;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  gap: 50px;
}

.footer-card > .card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  padding: 10px;
}

.follow > h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.follow > .hand {
  font-size: 25px;
  display: flex;
  gap: 10px;
}

.hand > a {
  color: #fff;
}
.hand > a > .fa-facebook {
  color: #007bff;
}
.hand > a > .fa-twitter {
  color: #143b8f;
}
.hand > a > .fa-instagram {
  color: #ff006a;
}
.hand > a > .fa-whatsapp {
  color: #04f704;
}

.hand > a:hover {
  color: #095b24;
}

@media screen and (max-width:650px) {
  .footer-card {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .footer-card > .card {
    width: 100%;
    margin-left: 0px;
    padding: 7px;
  }
  .follow > h3 {
    font-size: 22px;
    margin-bottom: 7px;
    text-align: center;
  }
  .follow > .hand {
    font-size: 25px;
    display: flex;
    gap: 10px;
  }
}
@media screen and (max-width:768px) {
  .footer-card {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .footer-card > .card {
    width: 100%;
    margin-left: 0px;
    padding: 7px;
  }
  .follow > h3 {
    font-size: 22px;
    margin-bottom: 7px;
    text-align: center;
  }
  .follow > .hand {
    font-size: 25px;
    display: flex;
    gap: 10px;
  }
}


.footer-card > .our-con {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.our-con > .our-con1 {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  line-height: 2rem;
  border-left: 1px solid #96a099;
}
.our-con > .our-con1 > h3 {
  color: #fff;
  font-weight: 900;
}
.our-con > .our-con1 > p {
  color: #bac2bc;
  font-weight: normal;
}

@media screen and (max-width:650px) {
  .footer-card > .our-con {
    width: 100%;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
  }

  .our-con > .our-con1 {
    width: 100%;
    height: fit-content;
    border: none;
    padding: 10px;
    line-height: 1.5rem;
    gap: 10px;
  }
  .our-con > .our-con1 > h3 {
    color: white;
    font-weight: normal;
  }
  .our-con > .our-con1 > p {
    color: #96a099;
    font-weight: normal;
  }

}
@media screen and (max-width:768px) {
  .footer-card > .our-con {
    width: 100%;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
  }
  .our-con > .our-con1 {
    width: 100%;
    height: fit-content;
    border: none;
    padding: 10px;
    line-height: 1.5rem;
    gap: 10px;
  }
  .our-con > .our-con1 > h3 {
    color: white;
    font-weight: normal;
  }
  .our-con > .our-con1 > p {
    color: #96a099;
    font-weight: normal;
  }
}

.footer-card > .future {
  width: 50%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-left: 1px solid #96a099;
}

.future > h1 {
  font-size: 20px;
  text-align: center;
}
.future > p {
  font-size: 18px;
  color: #bac2bc;
  text-align: center;
}
@media screen and (max-width:650px) {
  .footer-card > .future {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  .future > h1 {
    font-size: 20px;
  }
  .future > p {
    font-size: 14px;
    align-items: center;
    padding-left: 20px;
  }
}
@media screen and (max-width:768px) {
  .footer-card > .future {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  .future > h1 {
    font-size: 20px;
  }
  .future > p {
    font-size: 14px;
    align-items: center;
    padding-left: 20px;
  }
}

.cont-sign {
  gap: 20px;
  display: flex;
}
.cont-sign > .cont {
  font-size: 12px;
  background-color: #A55C3A;
  padding: 10px;
  color: white;
}
.cont-sign > .cont:hover {
  background-color: white;
  color: #A55C3A;
}
.cont-sign > .sign {
  border: 1px solid black;
  padding: 7px;
  font-size: 11px;
  color: black;
}
.cont-sign > .sign:hover {
  color: white;
  background-color: black;
}
@media screen and (max-width:650px) {
  .cont-sign {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cont-sign > .cont {
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cont-sign > .sign {
    padding: 10px;
    color: white;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
  }
}
@media screen and (max-width:768px) {
  .cont-sign {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cont-sign > .cont {
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cont-sign > .sign {
    padding: 10px;
    color: white;
    font-size: 14px;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}



footer {
  width: 100%;
  display: flex;
  gap: 5px;
  background-color: #272020;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #dce4e4;
}

@media screen and (max-width:650px) {
  footer {
    width: 100%;
    padding: 10px;
    font-size: 12px;
  }
}